In [34]:
POWER_CAPACITY = 10 # MW

LOAD_FACTOR = 0.9 

AREA = 12 #km^2

POWER_PER_YEAR = POWER_CAPACITY * LOAD_FACTOR * 365 * 24

In [35]:
f"Power per year is {POWER_PER_YEAR / 1000} GWh"

'Power per year is 78.84 GWh'

In [36]:

import pandas as pd
4

df = pd.read_excel('data.xlsx')


df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Table: Production figures the Peel,NaN,NaN,NaN,NaN
1,NaN,(Annual flows in Nm3/km2),NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,Injection,Production,NaN,NaN
4,Year,CO2 (Nm3/km2),CH4(Nm3/km2),CO2(Nm3/km2),Water(m3/km2)

In [37]:
# Shift headers
df = pd.read_excel('data.xlsx', header=5)
df.head()

   Year  CO2 (Nm3/km2)  CH4(Nm3/km2)  CO2(Nm3/km2)  Water(m3/km2)
0     1   1.698890e+06  1.031332e+06      0.000000    2111.376773
1     2   1.699535e+06  2.933781e+05      0.000000    2290.318334
2     3   1.699650e+06  1.440867e+05      0.000000    2076.812622
3     4   1.699642e+06  3.620504e+05      0.000000    2258.208925
4     5   1.699647e+06  1.278919e+06      0.000002    1905.327612

In [38]:
# Disambiguate headers

df["CO2_injected (Nm3/km2)"] = df["CO2 (Nm3/km2)"]


df["CO2_output (Nm3/km2)"] = df["CO2(Nm3/km2)"]


df = df[["CO2_output (Nm3/km2)", "CO2_injected (Nm3/km2)", "CH4(Nm3/km2)", "Water(m3/km2)"]]
df.head()

   CO2_output (Nm3/km2)  CO2_injected (Nm3/km2)  CH4(Nm3/km2)  Water(m3/km2)
0              0.000000            1.698890e+06  1.031332e+06    2111.376773
1              0.000000            1.699535e+06  2.933781e+05    2290.318334
2              0.000000            1.699650e+06  1.440867e+05    2076.812622
3              0.000000            1.699642e+06  3.620504e+05    2258.208925
4              0.000002            1.699647e+06  1.278919e+06    1905.327612